body{
  text-align: center;
  display: block;
  background: #fff;
/*  background: -webkit-linear-gradient(#FFDBCC, #FFFFCC); 
  background: -o-linear-gradient(#FFDBCC, #FFFFCC); 
  background: -moz-linear-gradient(#FFDBCC, #FFFFCC); 
  background: linear-gradient(#FFDBCC, #FFFFCC); */
  font-family: 'Comfortaa', sans-serif;
  font-weight: 100;
}

.bar{
	color:#800000;
	/*background-color: #ffF;*/
}

#circ{
	text-align:center;
	left:0;
	right:0;
	margin:auto;
	height:400px;
	width:700px;
}

#vis2{
	margin:auto;
	padding-top: -5%;
}

.arc{
	fill: black;
	text-align:center;
}

.legend{
	margin:auto;

}	