body{
  text-align: center;
  background: #e0ebeb;
  background: -webkit-linear-gradient(#FFDBCC, #FFFFCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFDBCC, #FFFFCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFDBCC, #FFFFCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFDBCC, #FFFFCC); /* Standard syntax */
  font-family: Arial, sans-serif;
  font-weight: 100;
}
svg{
	left-margin:12%;
	right-margin:5%;
	padding: 2%;
	padding-left: 5%;
}

#bar{
	position: absolute;
	height:500px;
}